@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";
}
@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/style.css" />

<section class="about">
<h1 class="heading">@ViewData["Title"]</h1>

@if (Model.Any())
{
<a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary mb-3" style="width:auto">
    Add new user
</a>

@foreach (var user in Model)
{
<div class="card mb-3">
    <div class="card-header">
        User Id : @user.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">@user.UserName</h5>
    </div>
    <div class="card-footer">
        <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
            <a asp-controller="Administration" asp-action="Edituser"
               asp-route-id="@user.Id" class="btn btn-primary">Edit</a>

            <span id="confirmDeleteSpan_@user.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@user.Id', false)">No</a>
                        </span>

            <span id="deleteSpan_@user.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@user.Id', true)">Delete</a>
                        </span>
        </form>
    </div>
</div>
}
}
else
{
<div class="card">
    <div class="card-header">
        No users created yet
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Use the button below to create a user
        </h5>
        <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary mb-3" style="width:auto">
            Add new user
        </a>
    </div>
</div>
}
</section>

@section Scripts {
<script src="~/js/CustomScript.js"></script>
}



<style>
    .card {
        margin-bottom: 20px;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        background-color: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #A9A9A9;
        color: #fff;
        border-bottom: 1px solid #dee2e6;
    }

    .card-body {
        padding: 1.25rem;
    }

    .card-title {
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
    }

    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: #A9A9A9;
        border-top: 1px solid #dee2e6;
        text-align: right;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: #ff6a00;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn:hover {
        color: #fff;
        background-color: #ffc8a1;
        border-color: #ffc8a1;
    }

    .btn-primary {
        color: #fff;
        background-color: #ff6a00;
        border-color: #ff6a00;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: #ffc8a1;
        border-color: #ffc8a1;
    }
</style>