@{
ViewData["Title"] = "Home Page";
}
@model DefaultListViewModel
<link rel="stylesheet" href="~/css/Style.css" />

<h1 class="heading">Our <span>Products</span> </h1>

<div class="category-dropdown">
    <select id="category-dropdown-select" class="category-dropdown-select" onchange="redirectToCategory(this.value)">
        <option value="">All Categories</option>
        @foreach(var category in Model.Categories)
        {
        <option value="@category">@category</option>
        }
    </select>
</div>

@foreach (Product product in Model.Products)
{
    <!-- Make each product clickable -->
    <a href="@Url.Action("DetailedProduct", "Home", new { id = product.ProductId })">
        <partial name="SingleProductPartial" model="product" />
    </a>
}

<div page-model="@Model.PaginationInfo" page-action="ListProducts" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-Name="@Model.CurrentPrimaryColor" class="btn-group pull-right m-1"></div>

<script>
    function redirectToCategory(category) {
        var url = '@Url.Action("ListProducts", "Home")';
        if (category) {
            url += '?category=' + encodeURIComponent(category);
        }
        window.location.href = url;
    }
</script>
